.dashboard-main-layout{
      scrollbar-width: thin;
        scrollbar-color: var(--secondary) var(--primary);
      
    .dashboard__link {
        color: #0ea5e9;
        &:hover{
            filter: brightness(1.2);
        }
    }
}