.home-main {
    background-image: url(https://uploads-ssl.webflow.com/602d59da29b66668b8758391/634eaa987dced1abf6accf9f_new-home-glow-desktop-ver-top.svg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 2800px 8109px;
}