.scrollbar-root {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    .scrollbar {
        max-height: "100%";
        .simplebar-scrollbar {
            background-color: red;
            &::before {
                background-color: var(--palette-secondary-main);
            }
        }
        .simplebar-mask {
            z-index: "inherit";
        }
        .simplebar-placeholder{
            display: none;
        }
        .simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-track.simplebar-vertical {
            background-color: red;
            width: 10px;
        }
        .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
            height: 6px;
        }
    }
}
