.bottom-wrapper {
    background-image: url("/svg/background/bottom-wrapper.svg"),
        url("/svg/background/bottom-wrapper-stars.svg");
    background-position: 50% 100%, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 2800px 1958px, 1440px 1202px;
}
