.bottom-wrapper {
    background-image: url(https://uploads-ssl.webflow.com/602d59da29b66668b8758391/634eabb82ebb9a2b6b8c71b9_new-home-glow-desktop-ver-2-bottom.svg),
        url(https://uploads-ssl.webflow.com/602d59da29b66668b8758391/611d759b3b085577561bf81a_new-home-stars-13.svg);
    background-position: 50% 100%, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 2800px 1958px, 1440px 1202px;
}
