@font-face {
    font-family: "E ukraine";
    src: url("https://uploads-ssl.webflow.com/602d59da29b66668b8758391/609678e44c24532022a85c8b_E-Ukraine-Light.woff")
        format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "E ukraine";
    src: url("https://uploads-ssl.webflow.com/602d59da29b66668b8758391/60968e3c0110f0830adef491_e-Ukraine-Medium.woff")
        format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "E ukraine";
    src: url("https://uploads-ssl.webflow.com/602d59da29b66668b8758391/60968fa2012ab237b25bbd41_e-Ukraine-UltraLight.woff")
        format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "E ukraine";
    src: url("https://uploads-ssl.webflow.com/602d59da29b66668b8758391/63cc4e4370ce980569486820_e-Ukraine-Regular.otf")
        format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "E ukraine";
    src: url("https://uploads-ssl.webflow.com/602d59da29b66668b8758391/63ce599d14bd051591e5cb4a_e-Ukraine-Bold.otf")
        format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
