.task-modal {
    .asset-list .MuiCard-root,
    .add-asset-card {
        width: 150px;
        height: 129.75px;
        padding: 0;
    }
    .ovioo-dropDown-wrapper{
        margin-right: 16px;
    }
}