.task-modal {
    .asset-list .MuiCard-root,
    .add-asset-card {
        width: 150px;
        height: 129.75px;
        padding: 0;
    }
    .task-modal__header {
        .task-type__dropdown {
            max-width: 235px !important;
            width: 235px !important;
            margin-right: 16px;
            margin-left: 16px;
            .MuiInputBase-formControl {
                width: 100%;
            }
        }
    }
    .task-modal__body {
        .assets__default-card {
            .default-card__text {
                font-size: 1.5rem;
                max-height: 100%;
            }
        }
    }
    .ovioo-dropdown__wrapper {
        .MuiInputBase-formControl {
            width: fit-content;
        }
        &.project-dropdown {
            .MuiInputBase-formControl {
                width: 250px;
            }
        }
    }
}
